.Card {
  width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px 0;
}

.cardBody {
  margin: 30px 0 0 0;
}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.returnHomeLink {
  text-align: center;
  margin: 30px 15px 30px 15px;
  padding: 3.5px;
}

.formGroup,
.extraSpace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.formGroup label,
.extraSpace label {
  margin-bottom: 7px;
  color: #000;
}

.formGroup input,
.extraSpace input {
  padding: 3.5px;
  border: none;
  border-radius: 3px;
  color: #3d2102;
  background-color: #f9f0e0;
}

.formGroup {
  padding: 7px 0 7px 0;
}

.extraSpace {
  padding: 7px 0 14px 0;
}

.Btn {
  padding: 7px 14px 7px 14px;
  border: none;
  border-radius: 3px;
  text-shadow: none;
  font-weight: 700;
  color: #fff;
  background-color: #3d2102;
}

/* .invalidFeedback,
.container > .m-3 > .alert-dissmisable,
.container > .m-3 > .alert-danger
{
  color: #DD0426;
  background-color: #fce6e9;
} */