html,
body {
  height: 100%;
  font-family: 'Readex Pro', 'Inter', 'Fira Sans', Helvetica Neue, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.0625em;
  color: #000;
  background-color: #FFF;
}

html {
  font-size: 18px;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

a, li {
  text-decoration: none!important;
}

a, button {
  cursor: pointer;
}

a {
  display: inline;
  font-weight: 500;
  padding: 3.5px 3.5px 0 3.5px;
  color: #3d2102;
  border-bottom: 3.5px solid #3d2102;
  background: transparent;
}

a:hover {
  border-radius: 3px;
  color: #FFF;
  background-color: #3d2102;
}

em {
  font-family: 'Sriracha', 'Fira Sans', Helvetica Neue, sans-serif;
}

section {
  margin: 1rem 0 0 0;
}

::selection {
  color: #fff;
  background: #3d2102;
}

::-moz-selection {
  color: #fff;
  background: #3d2102;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:hover:active {
  background-color: #3d2102;
  border: none;
}

.btn-primary:hover, .btn-primary:hover:active {
  color: #f9f0e0;
}

input:focus,
input:active {
  outline: thick solid #E0B383;
}